<h1><%= @recipe.name %></h1>
<h3>Created by <a href="/users/<%= @recipe.user_id %>"><%= @recipe.user.name %></a></h3>
<p>Rating: <%= @recipe.rating %></p>
<p>ingredients: <%= @recipe.ingredients %></p>
<p>This recipe's ID: <%= @recipe.id %></p>
